<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410357885495-39kplhecucnc7vjk1n2v8fvvj943k403.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410357885495-39kplhecucnc7vjk1n2v8fvvj943k403</string>
	<key>API_KEY</key>
	<string>AIzaSyCQNyxnnRA85ARX1_YZbuMgnwnAfbQYoUc</string>
	<key>GCM_SENDER_ID</key>
	<string>410357885495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webbook.customerMealFlutter</string>
	<key>PROJECT_ID</key>
	<string>customer-meal-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>customer-meal-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410357885495:ios:9c78f67d0bf95472106db2</string>
</dict>
</plist>